/* Global css -------------------------------------------------------*/

html {
  box-sizing: border-box;}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	overflow-x: hidden;
	margin: 0px;
}

.wrapper {
	font-family: Public Sans;
	font-size: 18px;
}

.panel:not(.about-panel) {
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	background-image:linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 100%));
}


h1{
	font-weight: normal ;
	text-decoration: none;
	color: hsl(233, 26%, 24%);
	font-size: 5rem;
}

h3{
	font-weight: normal ;
	color: hsl(233, 26%, 24%);
	font-size: 2.5rem;
}
 p {
	line-height: 3rem;
	font-size: 2rem;
	color: hsl(233, 8%, 62%);
}

@media all and (max-width: 1440px){
	.panel {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 150px;
		padding-right: 150px;
	}

	.text-box{
		padding-right: 30px;
		padding-left: 30px;

	}
}

/* Heder styles ------------------------------------------------------*/

	header {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 40px;
		padding-top: 40px;
	} 
	.nav-bar a {
		color: hsl(233, 8%, 62%);
		text-decoration: none;
		margin-right: 15px;
		margin-left: 15px;
		font-size: 1.5rem;	
	}

	.nav-bar a:hover {
		color: hsl(233, 26%, 24%) ;
		padding-bottom: 45px;
		border-bottom: 5px solid;
		border-image-slice: 1;
		border-image-source: linear-gradient(to right, #31D35C, #2BB7DA);
	}

		.button{
		font-size: 1.3rem;
		text-decoration: none;
		color: white;
		border-radius: 30px;
		background-image:linear-gradient(to right, #31D35C, #2BB7DA); 
		padding: 15px 25px;
	}

		a.button:hover {
			background-image:linear-gradient(90deg, rgba(49,211,92,0.7) 0%, rgba(43,183,218,0.7) 100%);
		}

		.logo-image{
			height: 30px;
			padding: 0px;
		}

		#hamburger{
			display: none;
	}

		#hamburger-image{
			display: none;
		}

	@media all and (max-width: 1440px){
		header{
			justify-content: space-between;
			padding: 20px;
			/*padding-top: 20px;*/
			/*padding-bottom: 20px;*/

		}
		.nav-bar{
			display: none;
		}

		header > .button {
			display: none;
		}

		#hamburger{
			display: none;
		}

		#hamburger-image{
			display: block;
			background:url("../images/icon-hamburger.svg");
			background-repeat: no-repeat;
			width: 50px;
			border: none;
			height: 30px;
			background-size: cover
		}

		#hamburger:checked ~ #hamburger-image {
			background:url("../images/icon-close.svg");		
			background-repeat: no-repeat;
			background-size: cover;
			width:30px;
			margin-right: 10px;
		}

		#hamburger:checked ~ .nav-bar{
			display: flex;
			background-color: white;
			height: 450px;
			position: absolute;
			left: 15%;
			right: 15%;
			top: 170px;
			z-index: 1;
			flex-direction: column;
			justify-content: space-around;
			text-align: center;
			border-radius: 10px;
			padding-top: 50px;
			padding-bottom: 50px ;
		}

		#hamburger:checked ~ .nav-bar >a:hover{
			border: none;
			padding: 0px;
			background-color: white;
		}

			#hamburger:checked ~ #hamburger-image::after{
			display: block;
			content: '';
			position: absolute;
			background-image:linear-gradient(rgba(0,0,0,0.7) 0%, rgba(255,255,255,0.1) 100%);
			width: 100%;
			height: 850px;
			left: 0px;
			top: 70px;
			z-index:1;
			}
	}

/*About panel style ------------------------------------------------------*/
.about-panel {
	padding-left: 10%;
	align-items: center;
	display: flex;
	background-image:linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 100%));
}

	.text-box {	
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-grow: 1;
	}

	.img-box{
		flex: 2;
	}

	.mobile-bg {
		display: none;
	}

	.desktop-img {
		object-position: 100px -400px;
		height: 1600px;
		position: absolute;		
	}

	.phone-image{
		display: flex;
		justify-content: flex-end;
		margin-bottom: -300px;
	}
	
	.phone-img{
		position: relative;
		object-position: 100px -150px;
		height: 1400px;
	}

	@media all and (max-width: 1440px){
		.about-panel{
			flex-direction: column;
			padding-left: 0px;
			padding-right: 0px;
		}

		.img-box{
			flex-grow: 1;
			width: 100%;
			order: 0;
		}

		.desktop-bg{
			display: none;
		}

		.mobile-bg{
			display: block;
		}

		.mobile-img{
			position: absolute;
			width: 100%;
			max-height: 1000px ;
		}

		.phone-image{
			margin-bottom: 0px;
			justify-content: center;
		}

		.phone-img{
			position: relative;
			min-width: 375px;
			height: 100%;
			object-position: 0px -150px ;
		
		}
		.text-box{
			order: 1;
			margin-left: 0px;
			align-items: center;
			text-align: center;
			padding-bottom: 200px;
			padding-left: 10%;
			padding-right: 10%;

		}

		h1{
			font-size: 5rem;
		}

		.text-box > p {
			font-size: 2rem;
		}
	}

	/*Assets panel styles ------------------------------------------------*/

	.assets-panel {
		display: flex;
		flex-direction: column;
		padding-top: 150px;
	}

	.assets-panel > .text-box {
		max-width: 1200px;
	}

	.text-box > h2 
	{
		color: hsl(233, 26%, 24%);
		font-size: 4rem;
		font-weight: normal;
	}

	.icons-container{
		display: flex;
		padding-top: 100px;
	}

	.icon-box{
		display: flex;
		flex-direction: column;
		padding-right: 50px;
	}

	.icon-box > img{
		max-width: 120px;
		margin-bottom: 50px;
	}

	.icon-box > p {
	font-size: 1.5rem;
	line-height: 2.5rem;
	}

	@media all and (max-width: 1440px) {
		.assets-panel{
			text-align: center;
		}

			.icons-container {
				order: 1;
				height: 100%;
				flex-direction: column;

			}

		.icon-box{
			align-items: center;
			padding-left: 100px;
			padding-right: 100px;
			padding-bottom: 100px;
		}

		.assets-panel > .text-box {
			padding-bottom: 0px;
		}

		.icon-box > img{
			height: 100px;
			margin-bottom: 0px;
		}
	}

/* Articles panel -------------------------------------------------------------------- */

.articles-panel{
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 100px;
}

.article-box{
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.article-description{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
}

.articles-container{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.article-box > img {
	width: 100%;
  height: 320px;

}
.articel-title{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 2rem;
}

.articel-title > a {
	text-decoration: none;
	color: #2D314D ;
	font-size: 1.5rem;
	line-height: 1.5rem;
	
}

.articel-title> a:hover {
	color: #31D35C;
}

.article-description> p:last-child {
	padding-top: 20px;
	font-size: 1.2rem;	
	line-height: 1.5rem;
	margin: 0px;
}

.article-author{
	font-size: 1rem;
	margin-bottom: 0px;
}

.article-box >*:not(img){
	padding-left: 10%;
	padding-right: 10%;
}

@media all and (max-width: 1440px) {

	.articles-panel{
			align-items: center
	}
	.articles-container{
		flex-direction: column;
		order: 2;
		max-width: 800px ;
	}

	.articles-panel > .text-box {
		order: 1;
		padding-bottom: 0px;
	}

	.articel-title{
		height: auto;
		margin-bottom: 10px;
	}

	.article-description{
		text-align: left;
	}

	.article-box{
		margin-bottom: 100px;
	}
	.article-box >*:not(img){
		padding-left: 100px;
		padding-right: 100px;
	}

	.article-box > img {
		width: 100%;
		max-width: 800px;
	  height: 100%;
	}
}

/* Footer ------------------------------------------------------------------------------*/

footer {
	display: flex;
	background-color: #2D314D;
	padding: 20px;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 5.3rem;
}

.nav-footer{
	line-height: 2rem;
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 400px;
	padding-top: 30px;

}
.nav-footer>*{
	color:hsl(220, 16%, 96%) ;
	text-decoration: none;
	flex: 1;
}

.nav-footer> a:hover{
color: #31D35C;

}

.lef-footer{
	text-align: center;
	padding-right: 200px;
}

.lef-footer > img{
	height: 25px;
}

.social{
	display: flex;
	justify-content: space-between;
	height: 20px;
}

.social > *:hover{
	filter: invert(24%) sepia(55%) saturate(10125%) hue-rotate(130deg) brightness(100%) contrast(73%);
}

.right-footer{
	padding-top: 10px;
	text-align: right;
	flex: 2;
}

.right-footer > p {
	font-size: 1rem;
	margin: 0px;
}

@media all and (max-width: 1440px){
	footer{
		flex-direction: column;
		align-items: center;

	}

	.lef-footer{
		order: 0;
		padding: 0px;
		max-width: 200px;
	}

	.social{
		align-items: center;
		justify-content: space-between;
	}

	.nav-footer{
		order: 1;
		flex-wrap: nowrap;
		height: 100%;
		text-align: center;
		line-height: 2.5rem;
		width: auto;
	}

	.right-footer{
		text-align: center;
		order: 2;
	}
}
